header {
  position: sticky; 
  top: 0;
  background-color: coral;
  color: white;
  padding: 15px 20px;
  border-bottom: 2px solid slategray;
  z-index: 1000;
}

.nav{
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.article {
  max-width: 800px;
  margin: auto;
}
