.card{
    text-align: center;
    padding: 20px;
    position:relative;
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    background-color: lightpink;
    box-shadow: 0 2px 5px black;
    margin: auto;
}

.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    
}