body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode .site-header,
body.light-mode .site-footer {
  background-color: white;
}

body.light-mode .site-content {
  background-color: white;
}

body.dark-mode {
  background-color: black;
  color: wheat;
}

body.dark-mode .site-header,
body.dark-mode .site-footer {
  background-color: black;
}

body.dark-mode .site-content {
  background-color: black;
}

.site-header, .site-footer {
  padding: 10px;
}

.site-content {
  padding: 20px;
}
