body{
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
}

button{
    padding: 10px 15px;
    background-color: blue;
    color: white;
}

.error {
    color: red;
    font-size: 12px;
}
.success {
    color: green;
    font-size: 14px;
    font-weight: bold;
}